* {
	box-sizing: border-box;
}
/*=====================================Wrapper============================================*/
.wrapper {
	height: 100%;
	line-height: 1;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	color: #000;
	font-family: "Roboto";
}
/*==========================================Container===================================*/
._container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
/*======================================Header===============================================*/
.header {
	margin-top: 15px;
}
.header__container {
}
.header__titlle {
	font-size: 28px;
	font-weight: 900;
	margin-bottom: 25px;
}
.header__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	margin-bottom: 25px;
}
.header__link {
	font-weight: 500;
	color: #0000ff;
}
.header__link:hover {
	text-decoration: none;
	color: #0066ff;
}
/*======================================Plot===============================================*/
.section__plot {
}
.plot {
}
.plot__container {
}
.plot__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 142%;
	margin-bottom: 25px;
}
.plot__text {
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	margin-bottom: 15px;
}
.plot__text-underline {
	text-decoration: underline;
}
.plot__text-bolt {
	font-weight: 700;
}
.plot__list {
	list-style-type: decimal;
	margin-left: 25px;
	margin-bottom: 15px;
}
.plot__item {
	padding-left: 5px;
}
.plot__image {
	height: 320px;
	margin-bottom: 20px;
}
.plot__subtitle {
	font-weight: 400;
	font-style: italic;
	margin-bottom: 15px;
}
/*======================================Infuense===============================================*/

.section__infuense {
}
.infuense {
}
.infuense__container {
}
.infuense__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 142%;
	margin-bottom: 25px;
}
.infuense__text {
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	margin-bottom: 15px;
}
.infuense__list {
	list-style-type: square;
	margin-left: 35px;
}
.infuense__item {
	padding: 0px 0px 5px 5px;
}
.infuense__link {
	color: #0000ff;
}
.infuense__link:hover {
	text-decoration: none;
	color: #0066ff;
}
/*======================================Ащщеук===============================================*/
.footer {
}
.footer__container {
}
.footer__button {
	padding: 5px;
	font-size: 16px;
	margin: 15px 0;
	background: #c0c0c0;
	border: 1px solid #000;
}
.footer__button:hover {
	border: 1px solid #c0c0c0;
}
